<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.MySQL55Dialect</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<property
			name="javax.persistence.validation.group.pre-persist">
			pl.bartflor.dao.PersistenceConstraints
		</property>
		<property
			name="javax.persistence.validation.group.pre-update">
			pl.bartflor.dao.PersistenceConstraints
		</property>
		<property
			name="javax.persistence.validation.group.pre-remove"></property>
		<property name="hibernate.hbm2ddl.auto">create-only</property>
		

	</session-factory>
</hibernate-configuration>