<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/static/CSS/main.css}"/>
<title>Offers</title>
</head>
<body>
<div th:insert="layout :: header"></div>

	<p>OFFERS LIST:<br/>
	<table>
		<tr>
			<th>NAME</th>
			<th>EMAIL</th>
			<th>OFFER</th>
		</tr>
		<tr th:each="offer : ${offersList}">
			<td th:text="${offer.user.name}">name</td>
			<td th:text="${offer.user.email}">email</td>
			<td th:text="${offer.text}">text</td>
		</tr>
	</table>
	
	<div th:insert="layout :: footer"></div>

</body>
</html>